{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {wamper, {git, "https://github.com/bwegh/wamper.git", {branch, "master"}}},
    {msgpack, {git, "https://github.com/msgpack/msgpack-erlang", {tag, "0.3.3"}}},
    {pbkdf2, {git, "https://github.com/pma/erlang-pbkdf2", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.6.2"}}},
    {awre, {git, "https://github.com/bwegh/awre.git", {branch, "master"}}},
    {lager , {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
    {sidejob, {git, "https://github.com/Leapsight/sidejob.git", {branch, "develop"}}}
]}.
{shell, [{apps, [lager, msgpack, pbkdf2, jsx, wamper, awre, sidejob, wamp_ms]}]}.
