[
 {wamp_service,
  [
   {session_pools,
    [
     {wamp_sessions,
      [
       %% pool args
       {size, 10},
       {max_overflow, 20}
      ], [
          %% worker args
          %% wamp opts
          {hostname, "${WAMP_HOSTNAME}"},
          {port, "${WAMP_PORT}"},
          {realm, <<"${WAMP_REALM}">>},
          {encoding, "${WAMP_ENCODING}"},
          %% reconnect options
          {backoff, "${WAMP_BACKOFF}"},
          {retries, "${WAMP_RETRIES}"},
          %% service callbacks
          {callbacks,
           [
            {procedure, <<"com.example.add2">>, {wamp_service_example, add}},
            {procedure, <<"com.example.echo">>, {wamp_service_example, echo}, [<<"admin">>]},
            {procedure, <<"com.example.error">>, {wamp_service_example, error}},
             {subscription, <<"com.example.onhello">>, {wamp_service_example, onhello}}
            ]}
          ]}
     ]}
   ]},
  {lager,
   [
    {log_root, "logs"},
    %% Default handlers for lager/lager_event
    {handlers,
     [
      {lager_console_backend, [{level, debug}]}
     ]},

    %% Any other sinks
    {extra_sinks,
     [
      {audit_lager_event,
       [{handlers,
         [
          {lager_console_backend, [{level, debug}]}
         ]
        },
        {async_threshold, 500},
        {async_threshold_window, 50}]
      }]
    }
   ]}

  {sasl, [{sasl_error_logger, false}]}
 ].
