[
    {wamp_service, [
                {conf, [
                    {pool_name, wamp_service_worker_pool},
                    {pool_capacity, 1280000}, %% 16 * erlang:system_info(schedulers) * 10000
                    {pool_size, 128},
                    %% wamp opts
                    {hostname, "localhost"},
                    {port, 8080},
                    {realm, <<"realm1">>},
                    {encoding,  msgpack},
                    {callbacks, [
                            {callee, <<"com.example.add2">>, {wamp_service_demo_service, add}},
                            {callee, <<"com.leapsight.echo">>, {wamp_service_demo_service, echo}},
                            {subscriber, <<"com.example.onhello">>, {wamp_service_demo_service, onhello}}
                            ]}
                ]}
            ]
    },
    {lager, [
          {log_root, "log"},
          %% Default handlers for lager/lager_event
          {handlers,
           [
            {lager_file_backend, [{file, "wamp_service.log"}, {level, info}, {formatter, lager_default_formatter}]}
           ]},

          %% Any other sinks
          {extra_sinks,
           [
            {audit_lager_event,
             [{handlers,
               [{lager_file_backend,
                 [{file, "sink1.log"},
                  {level, info}
                 ]
                }]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }]
          }
    ]}
].
