[
 {wamp_service, [
                 {pool_name, wamp_service_worker_pool},
                 {pool_capacity, 1280000}, %% 16 * erlang:system_info(schedulers) * 10000
                 {pool_size, 128},
                 %% wamp opts
                 {hostname, "${WAMP_HOSTNAME}"},
                 {port, "${WAMP_PORT}"},
                 {realm, <<"${WAMP_REALM}">>},
                 {encoding, "${WAMP_ENCODING}"},
                 {callbacks, [
                              {procedure, <<"com.example.add2">>, {wamp_service_service, add}},
                              {subscription, <<"com.example.echo">>, {wamp_service_service, echo}, [<<"admin">>]},
                              {subscription, <<"com.example.onhello">>, {wamp_service_service, onhello}}
                             ]}
                ]
 },

 {lager, [
          {log_root, "logs"},
          %% Default handlers for lager/lager_event
          {handlers,
            [
            {lager_console_backend, [{level, debug}]}
            ]},

          %% Any other sinks
          {extra_sinks,
            [
            {audit_lager_event,
              [{handlers,
                [
                {lager_console_backend, [{level, debug}]}
                ]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }]
          }
         ]}

  {sasl, [{sasl_error_logger, false}]}
].
