[
 {wamp_service, [
                 %% service conf
                 {pool_name, wamp_service_worker_pool},
                 {pool_capacity, 1280000}, %% 16 * erlang:system_info(schedulers) * 10000
                 {pool_size, 128},
                 %% wamp opts
                 {hostname, "localhost"},
                 {port, 18082},
                 {realm, <<"magenta">>},
                 {encoding,  msgpack},
                 {backoff, 100},
                 {retries, 10},
                 {callbacks, [
                              {procedure, <<"com.example.add2">>, {wamp_service_example, add}},
                              {procedure, <<"com.example.echo">>, {wamp_service_example, echo}, [<<"admin">>]},
                              {subscription, <<"com.example.onhello">>, {wamp_service_example, onhello}}
                             ]},

                 %% client conf
                 {pools, [
                          {wamp_call_pool, [
                                            {size, 10},
                                            {max_overflow, 20}
                                           ], [
                                               %% wamp opts
                                               {hostname, "localhost"},
                                               {port, 18082},
                                               {realm, <<"magenta">>},
                                               {encoding,  msgpack},
                                               {backoff, 100},
                                               {retries, 10}
                                              ]}
                         ]}
                ]
 },

 {lager, [
          {log_root, "log"},
          %% Default handlers for lager/lager_event
          {handlers,
           [
            {lager_console_backend, debug}
           ]},

          %% Any other sinks
          {extra_sinks,
           [
            {audit_lager_event,
             [{handlers,
               [
                {lager_console_backend, debug}
               ]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }]
          }
         ]},

 {sasl, [{sasl_error_logger, false}]}
].
