[
 %% service conf
 {wamp_service, [
                 {session_pools, [
                                  {wamp_sessions, [
                                                   %% pool args
                                                   {size, 10},
                                                   {max_overflow, 20}
                                                  ], [
                                                      %% worker args
                                                      %% wamp opts
                                                      {hostname, "localhost"},
                                                      {port, 18082},
                                                      {realm, <<"magenta">>},
                                                      {encoding,  msgpack},
                                                      %% reconnect options
                                                      {backoff, 100},
                                                      {retries, 10},
                                                      %% service callbacks
                                                      {callbacks, [
                                                                   {procedure, <<"com.example.add2">>, {wamp_service_example, add}},
                                                                   {procedure, <<"com.example.echo">>, {wamp_service_example, echo}, [<<"admin">>]},
                                                                   {subscription, <<"com.example.onhello">>, {wamp_service_example, onhello}}
                                                                  ]}
                                                     ]}
                                 ]}
                ]},

 {lager, [
          {log_root, "log"},
          %% Default handlers for lager/lager_event
          {handlers,
           [
            {lager_console_backend, debug}
           ]},

          %% Any other sinks
          {extra_sinks,
           [
            {audit_lager_event,
             [{handlers,
               [
                {lager_console_backend, debug}
               ]
              },
              {async_threshold, 500},
              {async_threshold_window, 50}]
            }]
          }
         ]},

 {sasl, [{sasl_error_logger, false}]}
].
